
* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
/*sidebar*/
#wrapper{
    display:flex;
    position:relative;
}
    #wrapper .top-img{
        padding:0px 4px 30px 30px;
    }
    #wrapper .top-img img {
        height: 80px;
        width: 80px;
        border-radius: 40px;
        border: solid 1px;
        border-color: red;
    }
    #wrapper .sidebar {
        width: 210px;
        height: 100%;
        position:fixed;
        background: #222e3c;
        padding:30px 0px;
    }
        #wrapper .sidebar ul li {
            padding: 15px;
        }
            #wrapper .sidebar ul li a {
                color: #fff;
                display: block;
                text-align: left;
                text-transform: uppercase;
            }
                #wrapper.sidebar ul li a:hover {
                    text-decoration: none;
                }
        #wrapper .sidebar .submenu a .fas {
            float: right;
            padding-right: 4px;
            padding-top: 2px;
        }
        .submenu a .fa {
            width: 25px;
           
        }
#wrapper .sidebar ul li:hover {
    background: #900C3F;
}

/*.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}*/
 /*   .dropdown-container a {
        color: #fff;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }*/
/*.dropdown-menu .dropdown-item {
    color: #222e3c!important;
}
    .dropdown-menu .dropdown-item:hover {
        background: #900C3F!important;
    }*/
/* main*/

#wrapper #main {
    width: 100%;
    margin-left: 210px;
}
/*navbar*/
#wrapper #main .navbar-custom {
    padding: 20px;
    background: #900C3F;
}
.navbar-brand {
     font-size:25px;
     text-transform:uppercase;
    color: #fff !important;
}
/*humburger*/
.nav-icon1 {
    z-index: 999;
    position: relative;
    display: block;
    width: 23px;
    margin: 0px 30px 0px 25px;
    cursor: pointer;
    height: 25px;
}


    .nav-icon1 span {
        position: absolute;
        top: 0;
        width: 100%;
        height: 3px;
        cursor: pointer;
        background-color: #fff;
        left: 0;
        transform: rotate(0deg);
        transition: .30s ease-in-out;
    }

    .nav-icon1:hover span:nth-of-type(1) {
        top: -3px
    }

    .nav-icon1:hover span:nth-of-type(3) {
        top: 19px;
    }

    .nav-icon1 span:nth-of-type(1) {
        top: 0;
    }

    .nav-icon1 span:nth-of-type(2) {
        top: 8px;
    }

    .nav-icon1 span:nth-of-type(3) {
        top: 16px;
    }

    .nav-icon1.open span:nth-of-type(1) {
        top: 8px;
        transform: rotate(135deg);
    }

    .nav-icon1.open span:nth-of-type(2) {
        top: 8px;
        opacity: 0;
        left: -30px;
    }

    .nav-icon1.open span:nth-of-type(3) {
        top: 8px;
        transform: rotate(-135deg);
    }
   /* expriment content sidebar hide command show*/
#page-content-wrapper {
    width: 100%;
    transition: all 0.5s ease;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -270px;
    transition: all 0.5s ease;
}

.toggled#page-content-wrapper {
    margin-left: 270px;
    transition: all 0.5s ease;
}

@media only screen and (min-width:992px) {
    .toggled#page-content-wrapper {
        width: calc(100% - 270px);
    }
}
#wrapper.toggled {
    padding-left: 270px;
}



.toggled.sidebar {
    width: 270px !important;
    height: 100%;
    left: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.5s ease;
}
#wrapper.toggled {
    padding-left: 270px;
}