
* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
/*sidebar*/
.wrapper{
    display:flex;
    position:relative;
}
    .wrapper .top-img{
        padding:0px 4px 30px 30px;
    }
    .wrapper .top-img img {
        height: 80px;
        width: 80px;
        border-radius: 40px;
        border: solid 1px;
        border-color: red;
    }
    .wrapper .sidebar {
        width: 210px;
        height: 100%;
        position:fixed;
        background: #222e3c;
        padding:30px 0px;
    }
    .wrapper .sidebar ul li{
        padding:15px;
    }
        .wrapper .sidebar ul li a {
            color:#fff;
            display:block;
        }
        .wrapper .sidebar ul li a:hover {
           text-decoration:none;
        }
        .wrapper .sidebar ul li a .fas{
            width:20px;
        }
            .wrapper .sidebar ul li a .fa {
                float: right;
                padding-right: 8px;
            }
        .wrapper .sidebar ul li:hover {
            background: #900C3F;
        }
/*.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}*/
 /*   .dropdown-container a {
        color: #fff;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }*/
/*.dropdown-menu .dropdown-item {
    color: #222e3c!important;
}
    .dropdown-menu .dropdown-item:hover {
        background: #900C3F!important;
    }*/
/* main*/
.wrapper .main {
    width: 100%;
    margin-left: 200px;
}
/*navbar*/
    .wrapper .main .navbar-custom {
        padding: 20px;
        background: #900C3F;
    }
.navbar-brand {
     font-size:25px;
     text-transform:uppercase;
    color: #fff !important;
}
/*html {
    margin: 0px;
    height: 100%;
    width: 100%;
}
.card h2 {
    text-align:left;
    font-size:16px;
    color:#fff;
}
.card a{
    text-decoration:none;
}
* {
    margin: 0;
    padding: 0;
}
#sidebar-wrapper {

    height: 100%;
    width: 200px;
   
    background: #222e3c;*/
  /*  transition: all 0.5s ease;*/
/*}
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}
.dropdown-container {
   //display: none;
    background-color: #262626;
    padding-left: 8px;
}
.dropdown-container .show {
        display: block;
    }*/

/* Optional: Style the caret down icon */
/*.fa-caret-down {
    padding-right: 8px;
}
    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 15px;
        color: #818181;
        display: block;
    }
   .sidenav a:hover {
            color: #f1f1f1;
        }*/
/*wrapper start */
/*#wrapper.toggled {
    padding-left: 270px;
}
#page-content-wrapper {
    width: 100%;
    transition: all 0.5s ease;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -270px;
    transition: all 0.5s ease;
}

.toggled#page-content-wrapper {
    margin-left: 270px;
    transition: all 0.5s ease;
}

@media only screen and (min-width:992px) {
    .toggled#page-content-wrapper {
        width: calc(100% - 270px);
    }
}*/
/*wrapper end */
/*navigation bar start*/
/*.navbar-nav .nav-span {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    color: #fff;
    outline: none;
    font-size: 15px;
    position: relative;
}

.bg-mattBlackLight {
    background-color: rgb(10, 0, 26);
    box-shadow: #290066;
}


.navbar-brand h3 {
    color: floralwhite;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

.navbar-brand span {
    color: sandybrown;
}

.white-btn i {
    color: aliceblue;
}

.white-btn span {
    color: aliceblue;
}

.navbar-custom {
    background-color: #900C3F !important;
    padding: 0px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);
}
.navbar-brand .gif-img{
    height:20px;
    width:20px;
    border-radius:10px;
}
.navbar-custom .nav-link .icon {
    color: rgb(10, 0, 26);
}*/
/*navigation bar end*/

/*content  start*/
/*.content {
    width: 100%;
    margin-top: 80px;
    margin-top: 150px;
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
}*/

/*content  end*/
/*delivery area and price  start*/
/*.card h2{

}*/
/*delivery area and price  end*/