@model BahokBdDelivery.Models.MarchentProfileDetails

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MarchentProfileDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input asp-for="Logo" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessName" class="control-label"></label>
                <input asp-for="BusinessName" class="form-control" />
                <span asp-validation-for="BusinessName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessLink" class="control-label"></label>
                <input asp-for="BusinessLink" class="form-control" />
                <span asp-validation-for="BusinessLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessAddress" class="control-label"></label>
                <input asp-for="BusinessAddress" class="form-control" />
                <span asp-validation-for="BusinessAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountName" class="control-label"></label>
                <input asp-for="AccountName" class="form-control" />
                <span asp-validation-for="AccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountNumber" class="control-label"></label>
                <input asp-for="AccountNumber" class="form-control" />
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoutingName" class="control-label"></label>
                <input asp-for="RoutingName" class="form-control" />
                <span asp-validation-for="RoutingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BranchName" class="control-label"></label>
                <input asp-for="BranchName" class="form-control" />
                <span asp-validation-for="BranchName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileStatus" class="control-label"></label>
                <input asp-for="ProfileStatus" class="form-control" />
                <span asp-validation-for="ProfileStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastIpAddress" class="control-label"></label>
                <input asp-for="LastIpAddress" class="form-control" />
                <span asp-validation-for="LastIpAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentTypeId" class="control-label"></label>
                @*<input asp-for="PaymentBankingTypeName" class="form-control" />*@
                <select asp-for="PaymentTypeId" class="form-control" id="Type"></select>
                <span asp-validation-for="PaymentTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentBankingId" class="control-label"></label>
                @*<input asp-for="PaymentBankingOrganizationName" class="form-control" />*@
                <select asp-for="PaymentBankingId" class="form-control" id="Organize"></select>

                <span asp-validation-for="PaymentBankingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: '/MarchentProfiles/GetBankingType',
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                console.log(data);
                $("#Type").empty();
                $.each(data, function (i, obj) {
                    var s = '<option value="' + obj.id + '">' + obj.bankingMethodName + '</option>';
                    console.log(s);
                    $("#Type").append(s);
                });
            },
            error: function (res) {
                console.log(res);
            }
        });

        $("#Type").click(function () {
            var d = $("#Type option:selected").val();
            console.log(d);
            $.ajax({
                url: '/marchentProfiles/getOrganizationName/?id=' + d,
                type: 'GET',
                dataType: 'JSON',
                success: function (data) {
                    console.log(data);
                    $("#Organize").empty();
                    $.each(data, function (i, obj) {
                        var s = '<option value="' + obj.id + '">' + obj.organizationName + '</option>';
                        //console.log(s);
                        $("#Organize").append(s);
                    });
                },
                error: function (res) {
                    console.log(res);
                }
            });
        });

    });
    </script>
}