@model BahokBdDelivery.ViewModels.MarchentProfileDetailsVm

@{
    ViewData["Title"] = "Edit";
}
<div class="row">
    <div class="col-12 col-lg-10 offset-lg-2">
        <div class="card mb-4">
            <div class="card-header bg-info">
                <h2>Create Merchent</h2>
            </div>
            <div class="card-body">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-12 col-md-8 col-lg-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Name" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="Email" class="control-label"></label>
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-12 col-lg-6 ">
                                    <div class="form-group">
                                        <label>Marchent Image</label>
                                        <div class="custom-file">
                                            <input class="custom-file-input form-control ml-2" type="file" asp-for="Image" />
                                            <label class="custom-file-label">Choos file</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-lg-6 ">
                                    <div class="form-group">
                                        <label>Logo</label>
                                        <div class="custom-file">
                                            <input class="custom-file-input form-control ml-2" type="file" asp-for="Logo" />
                                            <label class="custom-file-label">Choos file</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-12 col-lg-6 ">
                                    <div class="form-group">
                                        <label asp-for="Phone" class="control-label"></label>
                                        <input asp-for="Phone" class="form-control" />
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-lg-6 ">
                                    <div class="form-group">
                                        <label asp-for="BusinessName" class="control-label"></label>
                                        <input asp-for="BusinessName" class="form-control" />
                                        <span asp-validation-for="BusinessName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-12 col-lg-6 ">
                                    <div class="form-group">
                                        <label asp-for="BusinessLink" class="control-label"></label>
                                        <input asp-for="BusinessLink" class="form-control" />
                                        <span asp-validation-for="BusinessLink" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-lg-6 ">
                                    <div class="form-group">
                                        <label asp-for="BusinessAddress" class="control-label"></label>
                                        <input asp-for="BusinessAddress" class="form-control" />
                                        <span asp-validation-for="BusinessAddress" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-12 col-lg-6 ">
                                    <div class="form-group">
                                        <label asp-for="AccountName" class="control-label"></label>
                                        <input asp-for="AccountName" class="form-control" />
                                        <span asp-validation-for="AccountName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-lg-6 ">
                                    <div class="form-group">
                                        <label asp-for="AccountNumber" class="control-label"></label>
                                        <input asp-for="AccountNumber" class="form-control" />
                                        <span asp-validation-for="AccountNumber" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-12 col-lg-6 ">
                                    <div class="form-group">
                                        <label asp-for="RoutingName" class="control-label"></label>
                                        <input asp-for="RoutingName" class="form-control" />
                                        <span asp-validation-for="RoutingName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-lg-6 ">
                                    <div class="form-group">
                                        <label asp-for="BranchName" class="control-label"></label>
                                        <input asp-for="BranchName" class="form-control" />
                                        <span asp-validation-for="BranchName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-12 col-lg-6 ">
                                    <div class="form-group">
                                        <label asp-for="ProfileStatus" class="control-label"></label>
                                        <input asp-for="ProfileStatus" class="form-control" />
                                        <span asp-validation-for="ProfileStatus" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-lg-6 ">
                                    <div class="form-group">
                                        <label asp-for="LastIpAddress" class="control-label"></label>
                                        <input asp-for="LastIpAddress" class="form-control" />
                                        <span asp-validation-for="LastIpAddress" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label">Method:</label>
                                        <label class="text-info">@ViewBag.TypeName</label>
                                        <select asp-for="PaymentTypeId"  class="form-control" id="Type"></select>
                                        <span asp-validation-for="PaymentTypeId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-lg-6 ">
                                    <div class="form-group">
                                        <label  class="control-label">Banking Name:</label>
                                        <label class="text-info">@ViewBag.Organize</label>
                                        <select asp-for="PaymentBankingId" class="form-control" id="Organize"></select>

                                        <span asp-validation-for="PaymentBankingId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-12 col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="DateTime" class="control-label"></label>
                                        <input asp-for="DateTime" class="form-control" />
                                        <span asp-validation-for="DateTime" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 col-md-4">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <img src="~/@Model.DisplayImage" style="height:100PX;width:100PX; " />

                                </div>
                                <div class="col-md-6 cpl-12">
                                    <img src="~/@Model.DisplayLogo" style="height: 100PX; width: 100PX;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileLabel = $(this).next('.custom-file-label');
                var files = $(this)[0].files;

                if (files.length == 1) {
                    fileLabel.html(files[0].name)
                }
            });
        });
    </script>

    <script type="text/javascript">
            $(document).ready(function () {
                $.ajax({
                    url: '/MarchentProfileDetails/GetBankingType',
                    type: 'GET',
                    dataType: 'JSON',
                    success: function (data) {
                        console.log(data);
                        $("#Type").empty();
                        $.each(data, function (i, obj) {
                            var s = '<option value="' + obj.id + '">' + obj.bankingMethodName + '</option>';
                            console.log(s);
                            $("#Type").append(s);
                        });
                    },
                    error: function (res) {
                        console.log(res);
                    }
                });

                $("#Type").click(function () {
                    var d = $("#Type option:selected").val();
                    console.log(d);
                    $.ajax({
                        url: '/MarchentProfileDetails/GetOrganizationName/?id=' + d,
                        type: 'GET',
                        dataType: 'JSON',
                        success: function (data) {
                            console.log(data);
                            $("#Organize").empty();
                            $.each(data, function (i, obj) {
                                var s = '<option value="' + obj.id + '">' + obj.organizationName + '</option>';
                                //console.log(s);
                                $("#Organize").append(s);
                            });
                        },
                        error: function (res) {
                            console.log(res);
                        }
                    });
                });

            });
        </script>
}


