@model IEnumerable<BahokBdDelivery.Models.MarchentProfileDetail>

@{
    //int i = 1;
    ViewData["Title"] = "Index";
}


<div class="card mb-4">
    <div class="card-header ">
        <h2>Manage Marche</h2>
        <a onclick="showInPopup('@Url.Action("Create","MarchentProfileDetails",null,Context.Request.Scheme)','Marchent Details' )" class="btn  text-black-50"><i class="fas fa-random"></i> New Marchent</a>
    </div>
    <div id="view-all" class="card-body">
        @await Html.PartialAsync("_ViewAllMarchent", Model)
    </div>
</div>

@section Scripts
{
    <script>
        $(function(){
            var approve = '@ViewBag.approve';
            if (approve != null) {
                toastr.success(approve);
            }

        });
    </script>
}

