@model IEnumerable<BahokBdDelivery.Models.Branch>

@{
    ViewData["Title"] = "Index";
    //  int i = 1;
}
<div class="card mb-4">
    <div class="card-header ">
        <h2>Manage Branch</h2>
        <a onclick="showInPopup('@Url.Action("AddOrEdit","Branches",null,Context.Request.Scheme)','New Branch' )" class="btn  text-black-50"><i class="fas fa-random"></i> New Branch</a>
    </div>
    <div id="view-all" class="card-body">
        @await Html.PartialAsync("_ViewAllBranch", Model)
    </div>
</div>
