@model IEnumerable<BahokBdDelivery.Models.PaymentBankingOrganization>
@if (Model != null)
{
    <table class="table table-responsive table-striped">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td style="width:1050px;">
                        @Html.DisplayFor(modelItem => item.OrganizationName)<br />
                        @Html.DisplayFor(modelItem => item.PaymentBankingType.BankingMethodName)
                    </td>
                    <td> <a onclick="showInPopup('@Url.Action("AddOrEdit","PaymentBankingOrganizations",new { id=item.Id},Context.Request.Scheme)','Update Bank' )" class="btn btn-sm btn-info text-white"><i class="fas fa-random"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
}    