@model IEnumerable<BahokBdDelivery.Models.PaymentBankingType>
@if (Model != null)
{
    <table class="table table-responsive table-striped">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.BankingMethodName)
                    </td>
                    @if (item.Status)
                    {
                        <td class="text-success">Enable</td>
                    }
                    else
                    {
                        <td class="text-warning">Disable</td>
                    }
                    <td> <a onclick="showInPopup('@Url.Action("AddOrEdit","PaymentBankingTypes",null,Context.Request.Scheme)','New PaymentBankingTypes' )" class="btn btn-success text-white"><i class="fas fa-random"></i> New Type</a></td>
                </tr>
            }
        </tbody>
    </table>
}    