@model BahokBdDelivery.Models.PaymentBankingType

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-12 col-lg-10 ">
        <div class="card mb-4">
            <div class="card-header ">
                <h2>Edit</h2>
                <a asp-action="Create" class=" text-white ">Create New</a>
            </div>
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="BankingMethodName" class="control-label"></label>
                        <input asp-for="BankingMethodName" class="form-control" />
                        <span asp-validation-for="BankingMethodName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status"></label>
                        <input asp-for="Status" type="checkbox" />
                        <span asp-validation-for="Status"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <a class="btn" asp-action="Index">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
