@model BahokBdDelivery.Models.DeliveryAreaPrices

@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-12 col-lg-10 ">
        <div class="card mb-4">
            <div class="card-header bg-info">
                <h2>Create</h2>
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Area" class="control-label"></label>
                        <input asp-for="Area" class="form-control" />
                        <span asp-validation-for="Area" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BaseChargeAmount" class="control-label"></label>
                        <input asp-for="BaseChargeAmount" class="form-control" />
                        <span asp-validation-for="BaseChargeAmount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IncreaseChargePerKg" class="control-label"></label>
                        <input asp-for="IncreaseChargePerKg" class="form-control" />
                        <span asp-validation-for="IncreaseChargePerKg" class="text-danger"></span>
                    </div>
                    @*<div class="form-group">
                        <label asp-for="Status"></label>
                        <input asp-for="Status" type="checkbox" />
                        <span asp-validation-for="Status"></span>
                    </div>*@
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



